* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  color: #282828;
}
ul {
  padding: 25px;
  background: #282828;
  color: whitesmoke;
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
}
li {
  cursor: pointer;
}
.align-right {
  margin-left: auto;
}
.logo {
  size: 18px;
  font-weight: 700;
}
.icon {
  width: 25px;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}
.item{
     position: relative;
}
.item-img {
  width: 100%;
display: block;
 
}
p{
    padding:20px 0;
}
.img-banner {
  background: #cd6858;
  color:whitesmoke;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
}
.caption {
    display:flex;
    justify-content: space-between;
    gap:20px;
  margin: 0 25px;
 
}
button{
    align-self:center ;
    border:none;
    background: #cd6858;
    color:whitesmoke;
    padding:10px 15px;
    font-weight: 700;
    cursor:pointer;
}
.chatbox-bg{
    position:fixed;
    bottom:6px;
    right:6px;
    height:40px;
    width:40px;
    background-color:#dda15e;
    border-radius: 50%;
    cursor:pointer;
    box-shadow: 1px 1px 1px #999;
    display:flex;
}
.chatbox-img{
   width:50%;
margin:auto;
    

}
